:root {
	font-family: 'Inter', sans-serif;
  --fontSize: 15px;
  --lineHeight: calc((var(--fontSize) * 1.5));
  --bgColor: #282A36;
  --bgLayerColor: #44475A;
  --bgLightLayerColor: #505262;
  --bgDarkLayerColor: #3d4051;
  --fgColor: #F8F8F2;
  --white: #fff;
  --blue: #8be9fd;
  --lightGreen: #b1ffc5;
  --green: #50fa7b;
  --red: #ff5555;
  --lightRed: #ff6a6c;
  --darkRed: #e83538;
  --orange: #ffb86c;
  --pink: #ff79c6;
  --yellow: #f1fa8c;
  --purple: #bd93f9;
  --cta: #5865F2;
  --ctaDark: #4a57e4;
  --ctaLight: #6470f3;
  --dangerColor: #ff4d4f;
  --dangerBg: #301923;
  --dangerBorder: #8c0e2e;
  --successColor: #0be881;
  --successBg: #17312a;
  --successBorder: #0d8951;
  --warningColor: #ffcf00;
  --warningBg: #302c1d;
  --warningBorder: #8e7710;
  --primaryColor: #1890ff;
  --primaryBg: #172636;
  --primaryBorder: #0d518f;
}

@supports (font-variation-settings: normal) {
  :root { font-family: 'Inter var', sans-serif; }
}

body {
  font-size: var(--fontSize);
  font-weight: 400;
  letter-spacing: -0.004em;
  line-height: var(--lineHeight);
  font: 15px/22px var(--font-family), system-ui, sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
	background-color: var(--bgColor);
	color: var(--fgColor);
  height: 100%;
  caret-color: var(--fgColor);
}

h1 {
  font-weight: 750;
  font-size: 2.5rem;
  letter-spacing: -0.055em;
}

h2 {
  font-weight: 700;
  font-size: 1.75rem;
  letter-spacing: -0.055em;
}

h3 {
  font-weight: 650;
  font-size: 1.2rem;
  letter-spacing: -0.018em;
}

p {
  line-height: 1.5rem;
}

a {
  font-weight: 600;
}

a:hover {
  color: var(--white)
}

::-moz-selection {
  background-color: var(--pink);
}

::selection {
  background-color: var(--pink);
}

.App-main-content {
  position: relative;
  top: 60px;
}