.Dropdown-container {
  position: relative;
}

.Dropdown-button {
  background-color: inherit;
  border: none;
  color: inherit;
  cursor: pointer;
  padding: 0;
}

.Dropdown-menu {
  background-color: var(--bgLayerColor);
  box-sizing: border-box;
  position: absolute;
  right: 0;
  top: 0;
  padding: 4px 0px;
  width: 150px;
  border-radius: 3px;
  z-index: 2;
}

.Dropdown-item {
  padding: 4px 10px;
  cursor: pointer;
}

.Dropdown-item button {
  background: none;
  border: none;
  padding: none;
  color: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 100%;
  text-align: left;
}

.Dropdown-item:hover {
  background-color: var(--bgLightLayerColor);
}

.Dropdown-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}