.Nav {
  min-height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid var(--bgLayerColor);
  background-color: var(--bgColor);
  z-index: 1;
}

.Nav-start {
  margin-left: 0.75rem;
}

.Nav-end {
  margin-right: 0.75rem;
}

.Nav-logo {
  height: 2rem;
  width: auto;
}

.Nav-link:not(:last-child) {
  margin-right: 1rem;
}

.Nav-group {
  display: flex;
  align-items: center;
}

.Nav-burger span {
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background-color: var(--fgColor);
  display: block;
}

.Nav-burger {
  visibility: hidden;
  height: 1.5rem;
  width: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: inherit;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .Nav-burger {
    visibility: visible;
  }
}
