.Nav {
  min-height: 60px;
  padding: 0.75rem 1rem;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  position: fixed;
  border-bottom: 2px solid var(--bgLayerColor);
  background-color: var(--bgColor);
  z-index: 1;
}

.Nav-logo {
  height: 2rem;
  width: auto;
}

.Nav-link:not(:last-child) {
  margin-right: 1rem;
}