.Sidebar {
  box-sizing: border-box;
  overflow-y: auto;
  width: 280px;
  position: fixed;
  top: 60px;
  bottom: 0;
  padding: 2rem 1.5rem;
  background-color: var(--bgColor);
  z-index: 1;

  border-top: 2px solid var(--bgLayerColor);;
  border-right: 2px solid var(--bgLayerColor);
}

.SidebarItem {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 0.75rem;
  border-radius: 3px;
  
  /* CSS to prevent selecting text */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently */
}

.SidebarItem.list-header {
  justify-content: space-between;
}

.SidebarItem-button {
  background: none;
  border: none;
  color: var(--bgLightLayerColor);
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: color 150ms;
  font-size: 1rem;
}

.SidebarItem-button:hover {
  color: var(--fgColor);
}

.SidebarItem-button:active {
  color: var(--bgLayerColor);
}

.SidebarItem.no-hover:hover {
  background-color: inherit;
  color: inherit;
}

.SidebarItem.SubItem .SidebarItem-icon {
  margin-left: 1.125rem;
}

.SidebarItem:not(:last-child) {
  margin-bottom: 0.25rem;
}

.SidebarItem:hover {
  background-color: var(--bgLayerColor);
  color: #FFFFFF;
}

.SidebarItem-icon {
  width: 1.5rem;
  height: auto;
  margin-right: 0.75rem;
}

.SidebarItem-title {
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.collapsed .Sidebar-collapsable-items {
  max-height: 0;
  overflow: hidden;
}
