.Tasks h1, .Upcoming h1 {
  font-size: 2.25rem;
  margin-bottom: 1rem;
}

.Tasks h2, .Upcoming h2 {
  margin-bottom: 1rem;
}

.Upcoming h2 {
  font-size: 1.25rem;
}

.Upcoming .Section-header:not(:nth-of-type(2)) {
  margin-top: 2rem;
}

.Upcoming .Section-header:nth-of-type(1) {
  margin-top: 0;
}

.Section-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
  border-bottom: 1px solid var(--bgLayerColor);
  margin-bottom: 1rem;
}

.Tasks-container {
  margin-bottom: 2rem;
}

.Task {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 3px;
  margin-bottom: 0.25rem;
}

.Task:hover {
  background-color: var(--bgLayerColor);
}

.Task:hover .Task-checkbox {
  border: 3px solid var(--bgColor);
  background-color: var(--bgColor);
}

.Task:hover .Task-checkbox.completed {
  border: 3px solid var(--bgColor);
  background-color: var(--green);
}

.Task-right, .Task-left {
  width: 2rem;
}

.Task-main {
  width: 100%;
  margin: 0 1rem;
  cursor: pointer;
}

.Task-title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.Task-subtitle {
  font-size: 0.9rem;
}

.Task-checkbox {
  box-sizing: border-box;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 3px solid var(--bgLayerColor);
  background-color: var(--bgLayerColor);
  cursor: pointer;
}

.Task-checkbox:hover {
  background-color: var(--lightGreen);
}

.Task-checkbox.completed {
  background-color: var(--green);
}

.Task-icon-button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.Task-icon-button img {
  width: 1.25rem;
  height: 1.25rem;
}

.Task-icon-button:hover {
  animation: tilt-shaking 0.2s;
  animation-iteration-count: 2;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.Task-priority {
  display: flex;
  align-items: center;
}

.Task-priority *:not(:last-child) {
  margin-right: 0.5rem;
}

.Low svg {
  color: var(--green);
}

.Medium svg {
  color: var(--orange);
}

.High svg {
  color: var(--red);
}

.New-task-button {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  color: var(--fgColor);
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem 0;
  transition: color 50ms;
}

.New-task-button svg {
  margin-right: 0.5rem;
  width: 1rem;
  height: auto;
  color: var(--fgColor);
  border-radius: 50%;
  transition: background-color 50ms;
}

.New-task-button:hover svg {
  background-color: var(--cta);
}

.New-task-button:hover {
  color: var(--cta);
}

.New-task-button:active {
  color: var(--ctaDark);
}

.New-task-button:active svg {
  background-color: var(--ctaDark);
  border-radius: 50%;
}

.New-section-button {
  border: none;
  background: none;
  color: var(--bgLayerColor);
  font-size: 1rem;
  width: 100%;
  transition: color 150ms;
  height: 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
}

.New-section-button p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--bgLayerColor);
  line-height: 0.1em;
  transition: border-color 150ms;
}

.New-section-button span {
  background-color: var(--bgColor);
  padding: 0 10px;
}

.New-section-button:hover {
  color: var(--fgColor);
}

.New-section-button:hover p {
  border-color: var(--fgColor);
}

.New-section-button:active {
  color: var(--bgLayerColor);
}

.New-section-button:active p {
  border-color: var(--bgLayerColor);
}