.Tasks h1 {
  margin-bottom: 1rem;
}

.Tasks h2 {
  margin-bottom: 1rem;
}

.Task {
  display: flex;
  align-items: center;
  padding: 0.75rem;
  border-radius: 3px;
  margin-bottom: 0.25rem;
}

.Task:hover {
  background-color: var(--bgLayerColor);
}

.Task:hover .Task-checkbox {
  border: 3px solid var(--bgColor);
  background-color: var(--bgColor);
}

.Task:hover .Task-checkbox.completed {
  border: 3px solid var(--bgColor);
  background-color: var(--green);
}

.Task-right, .Task-left {
  width: 2rem;
}

.Task-main {
  width: 100%;
  margin: 0 1rem;
}

.Task-title {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.Task-subtitle {
  font-size: 0.9rem;
}

.Task-checkbox {
  box-sizing: border-box;
  width: 1.25rem;
  height: 1.25rem;
  border-radius: 50%;
  border: 3px solid var(--bgLayerColor);
  background-color: var(--bgLayerColor);
  cursor: pointer;
}

.Task-checkbox:hover {
  background-color: var(--lightGreen);
}

.Task-checkbox.completed {
  background-color: var(--green);
}

.Task-icon-button {
  width: 100%;
  height: 100%;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.Task-icon-button img {
  width: 1.25rem;
  height: 1.25rem;
}

.Task-icon-button:hover {
  animation: tilt-shaking 0.2s;
  animation-iteration-count: 2;
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

.Task-priority {
  display: flex;
  align-items: center;
}

.Task-priority *:not(:last-child) {
  margin-right: 0.5rem;
}

.Low svg {
  color: var(--green);
}

.Medium svg {
  color: var(--orange);
}

.High svg {
  color: var(--red);
}
